@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #E7F6FF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  padding: 10px 40px 10px 40px;
  overflow: auto;
}

.search__block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
}

.showcase__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
  outline: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  padding: 30px;
  top: 0;
  overflow: auto;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.sidebar__heading {
  margin: 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.sidebar__item {
  list-style: none;
  display: flex;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
}

.sidebar__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5px;
  width: 18px;
  height: 17px;
}

.sidebar__list {
  padding: 0;
}

.sidebar__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.sidebar__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.sidebar__picture {
  margin-right: 21px;
  object-fit: contain;
}

.total__item {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.total__dotter {
  border-bottom: 1px dashed #DFDFDF;
  flex: 1;
}

.total__list {
  padding: 0;
}

.total__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.total__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  background: #9DD558;
  color: #FFFFFF;
  border-radius: 18px;
  padding: 20px 0 20px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  position: relative;

  &:hover {
    .total__picture {
      transform: translateX(10px);
    }
  }

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }

  .total__picture {
    position: absolute;
    display: block;
    right: 38px;
    transition: transform 0.2s ease-in-out;
  }
}

.sidebar__list--stretching {
  flex: 1;
}

.cart-empty__items {
  list-style: none;
}

.cart-empty__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
  max-width: 285px;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.cart-empty__heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.cart-empty__items-offset--center {
  width: 100%;
  text-align: center;
}

.cart-empty__items-block--width {
  width: 245px;
}

.button-order__arrow--left {
  flex-direction: row-reverse;
}

.cart-empty__picture {
  position: static;
  margin-right: 10px;
}

.header__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}